# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
config/initializers/secret_token.rb
config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

.bash*

## Environment normalization:
/.bundle
/vendor/bundle
/.local
/.webdrivers
/.cache
# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# Ignore command history file.
.byebug_history
.irb_history


# Ignore node_modules
node_modules/

# Ignore precompiled javascript packs
/public/packs
/public/packs-test
/public/assets

# Ignore yarn files
/yarn-error.log
/.yarnrc
yarn-debug.log*
yarn.lock
.yarn
.yarn-integrity

# Ignore .npm files
/.npm

# Build/test artifacts
/artifacts/

# Ignore solr files
solr/*/data/*

# Vite Ruby
/public/vite*
# Vite uses dotenv and suggests to ignore local-only env files. See
# https://vitejs.dev/guide/env-and-mode.html#env-files
*.local