---

services:
  app:
    build:
      context: .
      target: development
    depends_on:
      - db
      - solr
    ports:
      - 3000:3000
    restart: always
    environment:
      - DATABASE_URL=postgres://root:root@db/geodata-dev?pool=5
      - SOLR_URL=http://solr:8983/solr/geodata-test
    volumes:
      - ./:/opt/app:delegated
      - selenium_downloads:/opt/app/tmp/selenium_downloads

  db:
    image: postgres:16.4
    restart: always
    environment:
      - POSTGRES_USER=root
      - POSTGRES_PASSWORD=root
    ports:
      - 5432:5432

  solr:
    build: solr
    restart: always
    ports:
      - 8983:8983

  selenium:
    image: selenium/standalone-chrome:latest
    # image: selenium/standalone-chrome:4.10.0
    ports:
      - 4444:4444
      - 7900:7900
    platform: linux/amd64
    networks:
      default:
        aliases:
          - selenium.test
    shm_size: 2g
    volumes:
      - selenium_downloads:/home/seluser/Downloads

volumes:
  selenium_downloads:
