           
 <nav class="navbar navbar-expand-md border-bottom topbar"  role="navigation">
  <div class="container">    
    <%= link_to (image_tag 'geodata_logo_color.svg', {:"data-svg-fallback" => "#{image_path('geodata_logo.png')}", :alt => 'GeoData @ UC Berkeley'}), root_path %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>


<div class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="container">
    <%= render_search_bar  %>
  </div>
</div>
