.ucb_container {
  min-height: 100%;
  width: 100%;
  margin-bottom: 90px;
}

.spacer {
  height: 90px;
}

.navbar {
  height: 6em;
}

// Fixing: AAD-232 
.btn-primary {
  background-color: #0073EB;
  color: #ffffff;
}