#footer-container {
  background-color: #003262;
  clear: both;
  margin-top: 25px;
  position: absolute;
  width: 100%;
}

#footer {  
  @extend .container-fluid;
  height:90px;  
  padding-top: 30px; 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline;
      margin: 0 12px 4px 0;
      padding: 0 50px 0 0;
    }
  }
  
  li a {
    white-space: nowrap;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #fdb515; 
    }
  }
}

#footer-links {
  text-align:right;
}
.footer-img {
  padding: 2px 0px 2px 20px;
}
